body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: $lineHeight;
    overflow-x: hidden;
}

.maingrid {
    margin-left: 8.333333%;
}
.swal2-popup {
    width: 45em !important;
}

td:not(:last-child) {
    border-bottom: 0;
}

th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}


@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

.darkmode-layer--simple {
    z-index: 1 !important;
}
.darkmode-toggle--white {
    z-index: 2 !important;
}
