/*! Hint.css - v2.6.0 - 2019-04-27 * http://kushagragour.in/lab/hint/ * Copyright (c) 2019 Kushagra Gour */
[class*=hint--]{
    position:relative;
    display:inline-block
}
[class*=hint--]:after,[class*=hint--]:before{
    position:absolute;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    visibility:hidden;
    opacity:0;
    z-index:1000000;
    pointer-events:none;
    -webkit-transition:.3s ease;
    -moz-transition:.3s ease;
    transition:.3s ease;
    -webkit-transition-delay:0s;
    -moz-transition-delay:0s;
    transition-delay:0s
}
[class*=hint--]:hover:after,[class*=hint--]:hover:before{
    visibility:visible;
    opacity:1;
    -webkit-transition-delay:.1s;
    -moz-transition-delay:.1s;
    transition-delay:.1s
}
[class*=hint--]:before{
    content:'';
    position:absolute;
    background:0 0;
    border:6px solid transparent;
    z-index:1000001
}
[class*=hint--]:after{
    background:#383838;
    color:#fff;
    padding:8px 10px;
    font-size:12px;
    line-height:12px;
    white-space:nowrap;
    text-shadow:0 -1px 0 #000;
    box-shadow:4px 4px 8px rgba(0,0,0,.3)
}
[class*=hint--][aria-label]:after{
    content:attr(aria-label)
}
[class*=hint--][data-hint]:after{
    content:attr(data-hint)
}
[aria-label='']:after,[aria-label='']:before,[data-hint='']:after,[data-hint='']:before{
    display:none!important
}
.hint--top-left:before,.hint--top-right:before,.hint--top:before{
    border-top-color:#383838
}
.hint--bottom-left:before,.hint--bottom-right:before,.hint--bottom:before{
    border-bottom-color:#383838
}
.hint--top:after,.hint--top:before{
    bottom:100%;
    left:50%
}
.hint--top:before{
    margin-bottom:-11px;
    left:calc(50% - 6px)
}
.hint--top:after{
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%)
}
.hint--top:hover:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--top:hover:after{
    -webkit-transform:translateX(-50%) translateY(-8px);
    -moz-transform:translateX(-50%) translateY(-8px);
    transform:translateX(-50%) translateY(-8px)
}
.hint--bottom:after,.hint--bottom:before{
    top:100%;
    left:50%
}
.hint--bottom:before{
    margin-top:-11px;
    left:calc(50% - 6px)
}
.hint--bottom:after{
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%)
}
.hint--bottom:hover:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--bottom:hover:after{
    -webkit-transform:translateX(-50%) translateY(8px);
    -moz-transform:translateX(-50%) translateY(8px);
    transform:translateX(-50%) translateY(8px)
}
.hint--right:before{
    border-right-color:#383838;
    margin-left:-11px;
    margin-bottom:-6px
}
.hint--right:after{
    margin-bottom:-14px
}
.hint--right:after,.hint--right:before{
    left:100%;
    bottom:50%
}
.hint--right:hover:after,.hint--right:hover:before{
    -webkit-transform:translateX(8px);
    -moz-transform:translateX(8px);
    transform:translateX(8px)
}
.hint--left:before{
    border-left-color:#383838;
    margin-right:-11px;
    margin-bottom:-6px
}
.hint--left:after{
    margin-bottom:-14px
}
.hint--left:after,.hint--left:before{
    right:100%;
    bottom:50%
}
.hint--left:hover:after,.hint--left:hover:before{
    -webkit-transform:translateX(-8px);
    -moz-transform:translateX(-8px);
    transform:translateX(-8px)
}
.hint--top-left:after,.hint--top-left:before{
    bottom:100%;
    left:50%
}
.hint--top-left:before{
    margin-bottom:-11px;
    left:calc(50% - 6px)
}
.hint--top-left:after{
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    transform:translateX(-100%);
    margin-left:12px
}
.hint--top-left:hover:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--top-left:hover:after{
    -webkit-transform:translateX(-100%) translateY(-8px);
    -moz-transform:translateX(-100%) translateY(-8px);
    transform:translateX(-100%) translateY(-8px)
}
.hint--top-right:after,.hint--top-right:before{
    bottom:100%;
    left:50%
}
.hint--top-right:before{
    margin-bottom:-11px;
    left:calc(50% - 6px)
}
.hint--top-right:after{
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    transform:translateX(0);
    margin-left:-12px
}
.hint--top-right:hover:after,.hint--top-right:hover:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--bottom-left:after,.hint--bottom-left:before{
    top:100%;
    left:50%
}
.hint--bottom-left:before{
    margin-top:-11px;
    left:calc(50% - 6px)
}
.hint--bottom-left:after{
    -webkit-transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    transform:translateX(-100%);
    margin-left:12px
}
.hint--bottom-left:hover:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--bottom-left:hover:after{
    -webkit-transform:translateX(-100%) translateY(8px);
    -moz-transform:translateX(-100%) translateY(8px);
    transform:translateX(-100%) translateY(8px)
}
.hint--bottom-right:after,.hint--bottom-right:before{
    top:100%;
    left:50%
}
.hint--bottom-right:before{
    margin-top:-11px;
    left:calc(50% - 6px)
}
.hint--bottom-right:after{
    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    transform:translateX(0);
    margin-left:-12px
}
.hint--bottom-right:hover:after,.hint--bottom-right:hover:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--large:after,.hint--medium:after,.hint--small:after{
    white-space:normal;
    line-height:1.4em;
    word-wrap:break-word
}
.hint--small:after{
    width:80px
}
.hint--medium:after{
    width:150px
}
.hint--large:after{
    width:300px
}
.hint--error:after{
    background-color:#e53e3e;
    text-shadow:0 -1px 0 #592726
}
.hint--error.hint--top-left:before,.hint--error.hint--top-right:before,.hint--error.hint--top:before{
    border-top-color:#e53e3e
}
.hint--error.hint--bottom-left:before,.hint--error.hint--bottom-right:before,.hint--error.hint--bottom:before{
    border-bottom-color:#e53e3e
}
.hint--error.hint--left:before{
    border-left-color:#e53e3e
}
.hint--error.hint--right:before{
    border-right-color:#e53e3e
}
.hint--warning:after{
    background-color:#d69e2e;
    text-shadow:0 -1px 0 #6c5328
}
.hint--warning.hint--top-left:before,.hint--warning.hint--top-right:before,.hint--warning.hint--top:before{
    border-top-color:#d69e2e
}
.hint--warning.hint--bottom-left:before,.hint--warning.hint--bottom-right:before,.hint--warning.hint--bottom:before{
    border-bottom-color:#d69e2e
}
.hint--warning.hint--left:before{
    border-left-color:#d69e2e
}
.hint--warning.hint--right:before{
    border-right-color:#d69e2e
}
.hint--info:after{
    background-color:#2649f1;
    text-shadow:0 -1px 0 #1a3c4d
}
.hint--info.hint--top-left:before,.hint--info.hint--top-right:before,.hint--info.hint--top:before{
    border-top-color:#2649f1
}
.hint--info.hint--bottom-left:before,.hint--info.hint--bottom-right:before,.hint--info.hint--bottom:before{
    border-bottom-color:#2649f1
}
.hint--info.hint--left:before{
    border-left-color:#2649f1
}
.hint--info.hint--right:before{
    border-right-color:#2649f1
}
.hint--success:after{
    background-color:#38a169;
    text-shadow:0 -1px 0 #1a321a
}
.hint--success.hint--top-left:before,.hint--success.hint--top-right:before,.hint--success.hint--top:before{
    border-top-color:#38a169
}
.hint--success.hint--bottom-left:before,.hint--success.hint--bottom-right:before,.hint--success.hint--bottom:before{
    border-bottom-color:#38a169
}
.hint--success.hint--left:before{
    border-left-color:#38a169
}
.hint--success.hint--right:before{
    border-right-color:#38a169
}
.hint--always:after,.hint--always:before{
    opacity:1;
    visibility:visible
}
.hint--always.hint--top:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--always.hint--top:after{
    -webkit-transform:translateX(-50%) translateY(-8px);
    -moz-transform:translateX(-50%) translateY(-8px);
    transform:translateX(-50%) translateY(-8px)
}
.hint--always.hint--top-left:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--always.hint--top-left:after{
    -webkit-transform:translateX(-100%) translateY(-8px);
    -moz-transform:translateX(-100%) translateY(-8px);
    transform:translateX(-100%) translateY(-8px)
}
.hint--always.hint--top-right:after,.hint--always.hint--top-right:before{
    -webkit-transform:translateY(-8px);
    -moz-transform:translateY(-8px);
    transform:translateY(-8px)
}
.hint--always.hint--bottom:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--always.hint--bottom:after{
    -webkit-transform:translateX(-50%) translateY(8px);
    -moz-transform:translateX(-50%) translateY(8px);
    transform:translateX(-50%) translateY(8px)
}
.hint--always.hint--bottom-left:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--always.hint--bottom-left:after{
    -webkit-transform:translateX(-100%) translateY(8px);
    -moz-transform:translateX(-100%) translateY(8px);
    transform:translateX(-100%) translateY(8px)
}
.hint--always.hint--bottom-right:after,.hint--always.hint--bottom-right:before{
    -webkit-transform:translateY(8px);
    -moz-transform:translateY(8px);
    transform:translateY(8px)
}
.hint--always.hint--left:after,.hint--always.hint--left:before{
    -webkit-transform:translateX(-8px);
    -moz-transform:translateX(-8px);
    transform:translateX(-8px)
}
.hint--always.hint--right:after,.hint--always.hint--right:before{
    -webkit-transform:translateX(8px);
    -moz-transform:translateX(8px);
    transform:translateX(8px)
}
.hint--rounded:after{
    border-radius:4px
}
.hint--no-animate:after,.hint--no-animate:before{
    -webkit-transition-duration:0s;
    -moz-transition-duration:0s;
    transition-duration:0s
}
.hint--bounce:after,.hint--bounce:before{
    -webkit-transition:opacity .3s ease,visibility .3s ease,-webkit-transform .3s cubic-bezier(.71,1.7,.77,1.24);
    -moz-transition:opacity .3s ease,visibility .3s ease,-moz-transform .3s cubic-bezier(.71,1.7,.77,1.24);
    transition:opacity .3s ease,visibility .3s ease,transform .3s cubic-bezier(.71,1.7,.77,1.24)
}
.hint--no-shadow:after,.hint--no-shadow:before{
    text-shadow:initial;
    box-shadow:initial
}

