.loginForm { top: 50%; left: 10%; width: 15%; transform: translateY(-50%);
    .input { padding-left: 45px; height: 40px; }
    .label { width: 40px; height: 40px; line-height: 40px; background: $mainBlue; }
}