<template>
    <div v-if="isadmin == 'true'" class="flex flex-col animate">
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/admin">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="font-bold uppercase invisible block text-center">dashboard</span>
        </a>
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/admin/clubs">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path><line x1="4" y1="22" x2="4" y2="15"></line></svg>
            <span class="font-bold uppercase invisible block text-center">clubs</span>
        </a>
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/admin/leaders">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
            <span class="font-bold uppercase invisible block text-center">Leaders</span>
        </a>
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/admin/requests">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
            <span class="font-bold uppercase invisible block text-center">requests</span>
        </a>
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/admin/profile">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            <span class="font-bold uppercase invisible block text-center">profile</span>
        </a>
        <a id="submitForm" class="text-center p-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" :href="logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            <span class="font-bold uppercase invisible block text-center">logout</span>
        </a>
    </div>
    <div v-else class="flex flex-col animate">
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/home">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
            <span class="font-bold uppercase invisible block text-center">dashboard</span>
        </a>
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/home/requests">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><line x1="8" y1="6" x2="21" y2="6"></line><line x1="8" y1="12" x2="21" y2="12"></line><line x1="8" y1="18" x2="21" y2="18"></line><line x1="3" y1="6" x2="3.01" y2="6"></line><line x1="3" y1="12" x2="3.01" y2="12"></line><line x1="3" y1="18" x2="3.01" y2="18"></line></svg>
            <span class="font-bold uppercase invisible block text-center">requests</span>
        </a>
        <a class="text-center py-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" href="/home/profile">
            <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            <span class="font-bold uppercase invisible block text-center">profile</span>
        </a>
        <a id="submitForm" class="text-center p-4" @mouseover="hover = true" @mouseleave="hover = false" :class="{active: hover}" :href="logout">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="inline-block"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
            <span class="font-bold uppercase invisible block text-center">logout</span>
        </a>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                hover: false
            }
        },
        props: {
            logout: { type: String, required: true },
            isadmin: { type: String, required: true }
        }
    }
</script>

<style scoped>
    .animate span {
        transition: all .4s ease-in-out;
    }
    .active span {
        visibility: visible;
        margin-top: 10px;
    }
</style>
